.page-header {
  padding-top: 30px;
  background:radial-gradient(33.97% 69.22% at 16.03% 39.06%, #003D85 99.48%, #B80027 99.03%);
}

@media (max-width: $tablet-width) {

  .page-header {
    padding-top: 40px;
  }
}

@media (max-width: $mobile-width) {
  .page-header {
    padding-top: 20px;
  }
}
